@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Playfair+Display:ital,wght@1,600&family=Poppins:wght@500&display=swap');

body {
  font-family: 'Poppins', sans-serif
}

.container{
  margin: 0 auto;
  max-width: 1280px;

}

nav{
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
 
 
}
nav ul{
  display: flex;
  list-style: none;
  gap: 24px;

}
nav button{
  background-color: red;
  color: white;
  padding: 6px 16px;
  height: 30px;
  font-weight: 400;
  border-radius: 10px;
  border: black;

}

.Data {
  display: flex;
  height: calc(100vh - 72px);
  align-items: center;
  
}
.content h1 {
  font-Weight: "700px";
  font-size: 100px;
  line-height: 102px;
  

}

.content p{
  font-size: 20px;
}


.main_content {
  display: flex;
  gap: 40px;
}
.first-btn {
  font-size: 16px;
  background-color: red;
  border: 1px solid red;
  color: white;
  height: 25px;
}

.p-items p {
  font-size: 14px;
  margin-bottom: 8px;
}
.brandname {
  display: flex;
  gap: 16px;
}

.second-btn {
  background: transparent;
  color: var(--gray);
  border: 1px solid gray;
}


