
body{
  background-color: aquamarine;
  color: black;
  font-size: 25px;
  padding: 20px;
  text-align: center;
}

button{
       font-size: 60%;
       position: relative;
       color: white;
       background-color: green;
       border: 8%;
       padding: 10px;
       justify-content: space-around;
       margin-right: 10px;
}
